<% if user_signed_in? %>
  <div class="row">
    <aside class="hidden-xs hidden-sm user-info-home">
      <section class="user-info">
        <%= render 'shared/user_info' %>
        <div class="stats"><%= render 'shared/stats' %></div>
      </section>
    </aside>
    <div class="">
      <h3>タイムライン</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="top">
　  <div class="top-image">
　   
　  </div>
　  <div class="top-btn">
　    <div><%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg" %></div>
　    <div><%= link_to "ログイン", new_user_registration_path, class: "btn btn-lg" %></div>
　  </div>
</div>

<% end %>