<h2>ユーザ情報編集</h2>
<div>
<div class="row">
<div class="col-md-6 col-md-offset-3">

<ul class="nav nav-tabs m-2">
    <li class="nav-item"><a class="nav-link text-success font-weight-light" href="<%= edit_user_url(current_user) %>">プロフィール変更</a></li>
    <li class="nav-item"><a class="nav-link active font-weight-bold text-success" href="<%= edit_user_registration_url %>">パスワード変更</a></li>
</ul> 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "新しいパスワード" %> <i>(変更する必要のない場合は空欄)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "新しいパスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "現在のパスワード" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="btn">
    <div class="actions">
      <%= f.submit "パスワードを変更", class: "btn-lg" %>
    </div>
  </div>
<% end %>

</div>
</div>
</div>