<h2>新規登録</h2>
<div class="row">
<div class="col-md-6 col-md-offset-3">
  
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label "フルネーム"  %><br />
    <%= f.text_field :full_name, autofocus: true, autocomplete: "Full name" %>
  </div>
  
  <div class="field">
    <%= f.label "ユーザネーム" %><br />
    <%= f.text_field :user_name, autofocus: true, autocomplete: "User name" %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス"  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "パスワード"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="">
    <%= f.label "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

　<div class = "btn">
      <div class="actions">
          <%= f.submit "新規登録", class:"btn-lg text-center" %>
      </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>