<div class="notifications">
  <div class="">
    <% user = User.find(notification.give_id) %>
    
    <% if notification.action == "like" %>投稿が <%= link_to user.user_name, user_path(user)%> さんのお気に召しました
    <% elsif notification.action == "comment" %>投稿に <%= link_to user.user_name, user_path(user)%> さんがコメントを寄せました
    <% elsif notification.action == "follow" %><%= link_to user.user_name, user_path(user) %> さんにフォローされました
    <% else %>
    <% end %>
  </div>
</div>