<div class="notification-index">
  <%if @notifications.any? %>
    <h2>通知</h2>
    <% @notifications.each do |notification| %>
    <div class="notification"><%= render notification, notification: notification %></div>
    <% end %>
    <%= will_paginate @notifications %>
  <% else %>
  通知なし
  <% end %>
</div>