<span class="like" id="like_form">
  <% if micropost.liked_by.include?(current_user) %>
    <%= render 'users/unlike', micropost: micropost %>
  <% else %>
    <%= render 'users/like', micropost: micropost %>
  <% end %>
</span>

