<%= form_for(current_user.likes_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
  <%= button_tag(class: "like-btn" ) do %>
    <div class = "glyphicon glyphicon-heart-empty"></div>
  <% end %>
<% end %>