<%= form_for(current_user.likes_relationships.find_by(micropost_id: micropost.id), 
                  html: { method: :delete }, remote: true) do |f| %>
  <%= button_tag(class: "like-btn") do %>
  <div class = "glyphicon glyphicon-heart"></div>
  <% end %>
<% end %>