<li>
  <%= link_to user.full_name, user %>
  <% #if current_user.admin? && !current_user?(user) %>
    <% #link_to "delete", user_path(user), method: :delete,
                                  #data: { #confirm: "You sure?" } %>
  <% #end %>
</li>