<% provide(:title, 'ユーザ情報編集') %>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<h2>ユーザ情報編集</h2>
<ul class="nav nav-tabs m-2">
    <li class="nav-item"><a class="nav-link text-success font-weight-light" href="<%= edit_user_url(current_user) %>">プロフィール編集</a></li>
    <li class="nav-item"><a class="nav-link active font-weight-bold text-success" href="<%= edit_user_registration_url %>">パスワード変更</a></li>
</ul> 

<%= form_for(@user) do |f| %>

<h3>公開情報</h3>
  <div class="field">
    <%= f.label "プロフィール画像" %><br />
    <span class="picture">
      <%= f.file_field :profile_picture %>
    </span>
  </div>
  
  <div class="field">
    <%= f.label "フルネーム" %><br />
    <%= f.text_field :full_name, autofocus: true, autocomplete: "Full Name" %>
  </div>
  
  <div class="field">
    <%= f.label "ユーザネーム" %><br />
    <%= f.text_field :user_name, autofocus: true, autocomplete: "User Name" %>
  </div>

  <div class="field">
    <%= f.label "ウェブサイト" %><br />
    <%= f.text_field :website, autofocus: true, autocomplete: "Website" %>
  </div>
  
  <div class="field">
    <%= f.label "自己紹介" %><br />
    <%= f.text_field :introduction, autofocus: true, autocomplete: "Introduction" %>
  </div>
  
<h3>非公開情報</h3> 
    
  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
   <div class="field">
    <%= f.label "性別" %><br />
    <label><%= f.radio_button :gender, 0 %> 回答しない </label>
    <label><%= f.radio_button :gender, 1 %> 男性 </label>
    <label><%= f.radio_button :gender, 2 %> 女性 </label>
  </div>
  
  <div class="btn">
    <div class="actions">
      <%= f.submit "プロフィールを変更",class: "btn-lg" %>
    </div>
  </div>
<% end %>

  </div>
</div>
