<% provide(:title, 'おすすめユーザ') %>
<h1>おすすめユーザ</h1>
 
<div class="user-index">     
<%= will_paginate @users %>

<ul class="users">
  <% @users.each do |user| %>
    <div>
      <% unless current_user == user %>
       <%= link_to user.user_name, user_path(user) %>
      <% end %>
    </div>
  <% end %>
</ul>
</div>