<% provide(:title, @user.user_name) %>
<div class = "show">

<!--ユーザ情報表示 -->

<div class= "show-user-info">
  <div class="show-user-info__pic">
    <% @user.profile_picture.blank? ? profile_picture = 'default.png' :  profile_picture = @user.profile_picture %>
    <%= image_tag profile_picture %>
  </div>
  <div class="show-user-info__txt">
    <div class="username">
      <%= @user.user_name %>
    </div>
    <div class="show-follow"><%= render 'shared/follow_form' if user_signed_in? %></div>
    <div><%= render 'shared/stats', class: "stats" %></div>
    <div class="fullname"><%= @user.full_name %></div>
    
    <div class="introduction">
      <%= @user.introduction unless @user.introduction.nil? %>
  　</div>
  </div>

</div>

<div class="show-user-edit">
<% if user_signed_in? && current_user.id == @user.id%>
<%= link_to "編集", edit_user_path(@user) %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "アカウント削除", user_path(@user), method: :delete %>
<% end %>
</div>

<!--投稿表示 -->
  <div class = "show-post">
  <% if @user.microposts.any? %>
    <h3>投稿一覧 (<%= @user.microposts.count %>)</h3>
      <ol class="wrapper">
      <% @microposts.each do |micropost| %>
        <a href = "#" data-toggle="modal" data-target = "#micropostModal">
          <div class = "micropost">
            <%= image_tag micropost.picture, class: "image" %>
          </div>
        </a>
      
     <!-- Modal -->
      <div class="modal fade" id="micropostModal" tabindex="-1" role="dialog" aria-labelledby="exampleMdalLabel" aria-hidden="true">
        <div class="modal-dialog modal-width" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <%= render 'microposts/micropost', micropost: micropost %>
            </div>
          </div>
        </div>
      </div>
      
  
    

      <% end %>
      </ol>
    <%= will_paginate @microposts %>
  <% end %>
  </div>
</div>



