<div class="comment_form">
<%= form_for(@comment) do |f| %>
  <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "コメントを投稿しましょう" %>
  </div>
  <div class="btn">
    <div class="actions">
      <%= f.submit "投稿", class:"btn-sm text-center" %>
    </div>
  </div>
<% end %>
</div>
