<div>
<% if @feed_items.any? %>
    <% @feed_items.each do |micropost|%>
        <div>
          <%= render micropost %>
        </div>
        <!-- Modal -->
      <div class="modal fade" id="feedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <%= render 'microposts/micropost', micropost: micropost %>
            </div>
          </div>
        </div>
      </div>
      
      
    <% end %>
  <%= will_paginate @feed_items %>
<% end %>
</div>


