  <% current_user.profile_picture ? profile_picture = 'default.png' :  profile_picture = @user.profile_picture %>
  <%= image_tag profile_picture, class: "user_info__pic" %>

    <div class="user-info__name">
      <h1><%= link_to current_user.user_name, current_user %></h1>
      <h3><%= current_user.full_name %></h3>
    </div>
  <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
