<div class = "mx-auto form-box">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label "メールアドレス" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          
            <div class="field">
              <%= f.label "パスワード" %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label "ログイン状態を保存", class: "check_box-label" %>
              </div>
            <% end %>
            
            <div class = "btn">
              <div class="actions">
                <%= f.submit "ログイン", class:"btn-lg text-center" %>
              </div>
            </div>
          <% end %>
      <%= render "devise/shared/links", class: "shared-links" %>
      </div>
  </div>
</div>
