<div class="post-foot">
  <div class = "post-foot__time">
    <%= time_ago_in_words(micropost.created_at) %>前
  </div>
  <% if user_signed_in? %>
    <%= render 'users/like_form', class: "like", micropost: micropost %>
  <% end %>

<div>
  <% if micropost.liked_by.count == 0 %>
  
 
  <% else %>
      <% first_likes_user = micropost.liked_by.first %>
      <% first_likes_user_name = micropost.liked_by.first.user_name %>
      
      <% if  micropost.liked_by.count == 1 %>
        <%= link_to first_likes_user_name, user_path(first_likes_user) %>さんのお気に召しています
      <% else %>
        <%= link_to first_likes_user_name, user_path(first_likes_user) %>さん、他<%= micropost.liked_by.count-1 %>人のお気に召しています
      <% end %>
      
  <% end %>
</div>

<div>
  <% if micropost.comments.any? %>
  コメント<%= micropost.comments.count %>件<br>
   <ul class="comment-list">
    <% micropost.comments.each do |comment| %>
      
       <%= render comment %>
    <% end %>
    </ul>
  <% end %>
</div>

  <div class="comment_form">
    <%= render 'shared/comment_form', micropost: micropost %>
  </div>

</div>
