<div class = "post-head">
<%# image_tag current_user.profile_picture.url if current_user.profile_picture? %>
 <div class="flex-container">
   <div class = "post-head__name">
     <%= link_to micropost.user.user_name, micropost.user %>
   </div>
 </div>
 <div>
   <% if user_signed_in? && current_user.id == micropost.user.id %>
      <%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
   <% end %>
 </div>
</div>