<li id="micropost-<%= micropost.id %>">
  <div class = "post">
    <span><%= render 'microposts/head', micropost: micropost %></span>
    
    <div class ="micropost-body">
      <div class = "micropost-body__picture">
        <%= image_tag micropost.picture.url %>
      </div>
      <div class = "micropost-body__content">
        <%= micropost.content %>
      </div>
    </div>


    <span><%= render 'microposts/foot', micropost: micropost %></span>
  </div>
</li>


<% #link_to micropost.user.user_name, micropost.user %>