 <!-- Modal -->
 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%# render 'microposts/micropost', micropost: micropost %>
      </div>
    </div>
</div>