<div class="index flex-container">
  
  <div>
   <h2>ヒットした投稿 (<%= @microposts.count %>)</h2>
   <%= render @microposts %>
  </div>
  
  <div class="user_info">
    <h2>ヒットしたユーザ (<%= (@hit_full_names | @hit_user_names).count %>)</h2>
    <% (@hit_full_names | @hit_user_names).each do |user| %>
      <div><%= link_to user.user_name, user_path(user) %></div>
    <% end %>
  </div>
</div>