@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 100px;
  background: #f3f1f1;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

a {
    color: #666666 !important;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

li {
  list-style: none;
}
.flex-container {
  display: flex;
}
.modal-width {
  width: 616px;
}
.modal-body {
  padding: 0;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
header {
  background: #F6D927;
  padding: 13px 0;
  display: block;
  .search-form {
    width: 200px;
    align-items: center;
  }
  .search-field {
    margin: 0;
  }
  .search-btn {
    
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #666666;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: normal;
  &:hover {
    color: #333333;
    text-decoration: none;
  }
}
.navbar-right {
  li {
    margin-top: 15px;
    margin-left: 20px;
  }
  &:hover {
    color: #333333;
    text-decoration: none;
  }
 .nav-link {
   padding-top:2px;
 }
}


/* footer */

footer {
  text-align: center;
  .navbar-fixed-bottom {
    background: #F6D927;
    padding: 30px;
  }
}


/* flash */
.notice {
  color: #666666;
  background-color: #D0F0D0;
}
.alert {
  color: #666666;
  background-color: #F0D0D0;
}




/* form */ 

input, textarea, select, .uneditable-input {
  border: 2px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
label {
  font-weight: normal;
}
#user_remember_me {
  width: 50px;
}

input {
  height: auto !important;
}

.form-box {
  display: block;
  margin-top: 100px;
  padding: 30px 20px;
  /*background-color: #fff;*/
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.btn{
  margin: 0 auto;
  width: 100%;
}
.btn-lg {
  margin-top: 30px;
  width: 200px;
   background-color:#EF9D00;
  border: solid 1px #EF9D00;
  color: #666666;
}
.btn-sm {
  width: 100px;
   background-color:#EF9D00;
  border: solid 1px #EF9D00;
  color: #666666;
}
.shared-links {
  margin: 0 auto;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  z-index: 99;
}

/* home  */
.user-info {
  margin-top:20px;
  .stats {
    margin-top: 15px;
    margin-left: 15px;
  }
}
.user-info-home {
  float: right !important;
}
@media (max-width: 991px) {
  .row{
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 991px) {
  .row{
    max-width: 935px;
    margin: 0 auto;
  }
}


/* post */
.post {
  width: 614px;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  
  margin-top: 30px;
} 
.post-head {
  height: 60px;
  border-bottom: 1px solid #cccccc;
}
.post-head__name {
  margin: 20px auto 0;
}
.post-foot {
  border-top: 1px solid #cccccc;
  padding: 10px;
}
.post-foot__time {
  font-size: 3px;
  color: #c8c8c8;
}
.glyphicon-heart {
  color: #ff5900;
}
.like-btn {
   background-color: transparent;
   border: none;
   cursor: pointer;
   outline: none;
   padding: 0;
}
.comment_form {
  margin-top: 10px;
  padding: 0px 30px;
}
.comment-btn {
  margin: 0 auto;
  max-width: 100px;
}
.comment-user {
  font-weight: 700;
}
.comment-list {
  margin-top: 5px;
  text-align: left;
  padding-left: 30px;
  list-style: none;
}
.micropost-body__content {
}

/* show */
.show {
  width: 935px;
  margin: 0 auto;
  
  .wrapper {
    display: grid;
    grid-template-columns: 293px 293px 293px;
    margin: 0 auto;
    padding: 0;
    column-gap: 28px;
  }
  .micropost {
    position: relative;
    width: 293px;
    height: 293px;
    margin-top: 28px;
    .image {
      width: 100%;
       height: auto;
    }
  }
  .show-user-info {
    display: flex;
    margin: 0 auto;
    padding: 30px 200px;
    justify-content: space-around;
    align-items: center;
 
    .username {
      font-size: 28px;
      display: flex;
      .show-follow {
        margin-left: 20px;
      }
    }
    .stats {
      margin-top: 30px;
    }
    .fullname {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  .show-user-edit {
    text-align:right;
  }
  .show-post {
    border-top: 1px solid #cccccc;
    padding-top: 20px;
  }
  .introduction {
    margin-top: 20px;
  }
}

/* user-info */
.user-info {
  text-align: center;
}

/*follow */
.follow-btn {
  margin-top: 10px;
}
.unfollow-btn {
  margin-top: 10px;
  color: #f8f8f8;
  border: 1px solid #a36b00;
  background-color: #a36b00 !important;
}


/* index */
.index {
  width: 935px;
  margin: 0 auto;
  justify-content: space-between;
}
.user-index {
  text-align:center;
}
.notification-index {
  width: 935px;
  margin: 20px auto 0;
  .notification {
    margin-top: 10px;
  }
}

/* micrpost-new */
.micropost-new {
  width: 700px;
  margin: 0 auto;
}

/* top */
.top {
  text-align:center;
  .top-image {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background: image-url('top_page.jpg');
    background-repeat: no-repeat;
  }
  .top-btn {
    display: inline-block;
    margin-top: -100px;
  }
}