<footer class="footer">
   <nav class="navbar-fixed-bottom"> 
      <% if user_signed_in? %>
            <%= link_to "投稿", new_micropost_path %>
        
        <% else %>
          投稿するには<%= link_to "ログイン", new_user_session_path %>してください
      <% end %>
   </nav>
</footer>