<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Fake Instagram", root_path, id: "logo" %>
   
    <nav>
      <ul class="navbar-right flex-container">
        <% if user_signed_in? %>
          <li>
            <div class="search-form mx-auto">
                <%= form_with url: microposts_path, html: {method: 'get'}, local: true do |form| %>
                 <%= form.text_field :search, placeholder: "ユーザ・投稿を検索", class: "serch-field" %>
                 <% form.submit "検索", class: "search-btn"%>
                <% end %>
            </div>
          </li>
          <li class="nav-link"><%= link_to "おすすめユーザ", users_path %></li>
          <li class="nav-link"><%= link_to "通知", notifications_path %></li>
          <li class="nav-link"><%= link_to "マイページ", user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>